fieldset.star-rating
	input(type="radio" id="star-5" name="rating" value="star-5")
	label(for="star-5")
		i(aria-hidden="true").active.fa.fa-star
	input(type="radio" id="star-4" name="rating" value="star-4")
	label(for="star-4")
		i(aria-hidden="true").active.fa.fa-star
	input(type="radio" id="star-3" name="rating" value="star-3")
	label(for="star-3")
		i(aria-hidden="true").active.fa.fa-star
	input(type="radio" id="star-2" name="rating" value="star-2")
	label(for="star-2")
		i(aria-hidden="true").active.fa.fa-star
	input(type="radio" id="star-1" name="rating" value="star-1")
	label(for="star-1")
		i(aria-hidden="true").active.fa.fa-star