extends ../layouts/default

block head
	- var pageTitle = '';

block header
	include ../blocks/header/header
	
block content
	main.main
		section.intro-section.intro-section_height
			.container
				include ../components/head-wrap/head-wrap
				h1.blog-title Лучшие направления с богатой экскурсионной программой. Часть 2. Азия.
		
		section.articles-section
			.container

				.articles-content
					.articles-wrap
						p.article-text Самая насыщенная программа, пожалуй, в Таиланде. Каждый остров по-своему уникален и красив. Однако дешевле и удобнее всего бронировать отель в Паттайе. В городе есть множество туристических точек, где просто необходимо побывать: Холм Будды, Деревня натренированных слонов, Королевский дворец с роскошным убранством , плавучий рынок с деревянными домиками на сваях и колесо обозрения в центре города, с которого по вечерам открывается захватывающий вид. А вот на острова можно отправиться на экскурсию.
						.article-img
							img(src="images/art1.jpg", alt="")
						p.article-text Не стоит забывать, что Гоа – это не просто райское местечко, это Индия, с её богатой историей, уникальной культурой и красивыми храмами. Неподалеку от Гоа находится Мумбай – родина болливудского кино. Сюда можно ехать, когда вы устанете от обзора исторических мест. Здесь можно посмотреть процесс съемки новых эпизодов и репетицию настоящих индийских танцев, сфотографироваться с актерами.
						.article-img
							img(src="images/art2.jpg", alt="")
						p.article-text Во Вьетнаме и на Бали существует несколько популярных у туристов мест – однако они все по большей части природные, зато невероятно красивые. Здесь вам будет интересно также посетить рисовые, кофейные и перечные плантации, ремесленные деревушки и даже спящие вулканы. Ну а также знакомство с местной кухней, особенно в открытых лавках прямо на улице по цене в доллар, – это сама по себе настоящая экскурсия в азиатскую кухню, которой вы никогда не узнаете, не побывав здесь!

					.blog-sidebar
						.find-tours
							form(action="#" id="" method="").mainForm.mainForm_column
								.mainForm__city-select
									span Город вылета
									.mainForm__select-wrap
										select(name="" id="").mainForm__select
											option(value="") Riga
											option(value="") Riga
											option(value="") Riga
								.mainForm__fild.mainForm__fild_long
									input(type="text" placeholder="Страна, курорт или отель").mainForm__input
								.mainForm__fild.mainForm__fild_date
									input(type="text" placeholder="Дата вылета").mainForm__input
								.mainForm__fild.mainForm__fild_quantity
									input(type="text" placeholder="Кол-во ночей").mainForm__input
								.mainForm__fild.mainForm__fild_tourists
									input(type="text" placeholder="Туристы").mainForm__input
								button(type="submit").mainForm__btn.red-btn Искать туры

						.find-wrap
							h3.find-title Подпишитесь на нашу рассылку
							p.text-center Чтобы получать подборки туров по выгодным ценам и быть в курсе акций и конкурсов
							form(action="#" id="" method="").mail-form
								.mail-form__fild
									input(type="text" placeholder="Введите ваш емайл").mail-form__input
									button(type="submit").mail-form__btn

						.find-wrap
							h3.find-title Поиск туров онлайн
							p Наша компания всегда готова прийти на помощь в планировании вашего путешествия. Мы поможем подобрать тур, произвести его бронирование и оплатить в режиме онлайн быстро и без проблем. Для вас поиск туров облегчится еще тем, что мы работаем с большим количеством туристических операторов, которые предлагают множество вариантов отдыха. Вне зависимости от того, планируете ли вы путешествие на пляжные или горнолыжные курорты, хотите поехать в экзотические страны за новыми впечатлениями или осмотреть мировые достопримечательности, у нас вы подберете себе наилучший вариант тура по самым выгодным ценам. На нашем сайте есть описания всех мировых отелей с отзывами реальных туристов, поэтому вы всегда будете знать, что вам предложит тот или иной курорт. Консультанты нашего сайта помогут вам в любое время дня и ночи и смогут ответить на любые ваши вопросы по телефону или электронной почте. Теперь поиск туров и дальнейшее путешествие будет приносить только радость.
			
block footer
	include ../blocks/footer/footer