extends ../layouts/default

block head
	- var pageTitle = '';

block header
	include ../blocks/header/header
	
block content
	main.main
		section(style='background-image: url(images/intro-bg-blue.png);').intro-section.intro-section_height
			.container
				.head-wrap.head-wrap_padding
					a(href="#").logo
					.info-wrap
						a(href="tel:67320372").info-link.tel-link 67 320 372
						a(href="mailto:info@sofiture.lv").info-link.mail-link info@sofiture.lv
						a(href="#").buy-link.red-btn Купить тур в офисе
				h2.intro-title Частые вопросы
		
		section.faq-section
			.container
				.tabsFaq.js-tabs
					ul.tabsFaq__list.js-tab-btn
						li.tabsFaq__item.tabsFaq__item_choice.active Выбор тура
						li.tabsFaq__item.tabsFaq__item_payment Оплата тура
						li.tabsFaq__item.tabsFaq__item_afterbuy После покупок тура
						li.tabsFaq__item.tabsFaq__item_resting Во время отдыха
						li.tabsFaq__item.tabsFaq__item_visa Виза
					.tabsFaq__content-container
						.tabsFaq__content.js-tab-content.active
							
							h3.tabsFaq__title Выбор тура
							.tabsFaq__content-wrap
								span.tabsFaq__content-title В чем отличие SofiTure.lv от обычных турагентств?
								.tabsFaq__content-text Данные карты вводятся на защищенной платежной странице, передача информации в центр происходит с применением технологии шифрования SSL. Дальнейшая передача информации происходит по закрытым банковским сетям, имеющим наивысший уровень надежности. Таким образом, процессинговый центр не передает данные вашей карты магазину и иным третьим лицам.
							.tabsFaq__content-wrap
								span.tabsFaq__content-title Как формируются туры на вашем сайте?
								.tabsFaq__content-text Данные карты вводятся на защищенной платежной странице, передача информации в центр происходит с применением технологии шифрования SSL.
							.tabsFaq__content-wrap
								span.tabsFaq__content-title Почему у вас выгоднее покупать туры чем в других агентствах?
								.tabsFaq__content-text Данные карты вводятся на защищенной платежной странице, передача информации в центр происходит с применением технологии шифрования SSL.
							.tabsFaq__content-wrap
								span.tabsFaq__content-title Что такое "календарь низких цен"?
								.tabsFaq__content-text Данные карты вводятся на защищенной платежной странице, передача информации в центр происходит с применением технологии шифрования SSL.
							.tabsFaq__content-wrap
								span.tabsFaq__content-title Как выбрать тур на сайте?
								.tabsFaq__content-text Данные карты вводятся на защищенной платежной странице, передача информации в центр происходит с применением технологии шифрования SSL.

						.tabsFaq__content.js-tab-content
							
							h3.tabsFaq__title Оплата тура
							.tabsFaq__content-wrap
								span.tabsFaq__content-title Как купить тур?
								.tabsFaq__content-text Данные карты вводятся на защищенной платежной странице, передача информации в центр происходит с применением технологии шифрования SSL. Дальнейшая передача информации происходит по закрытым банковским сетям, имеющим наивысший уровень надежности. Таким образом, процессинговый центр не передает данные вашей карты магазину и иным третьим лицам.
							.tabsFaq__content-wrap
								span.tabsFaq__content-title Безопасно ли платить банковской картой?
								.tabsFaq__content-text Данные карты вводятся на защищенной платежной странице, передача информации в центр происходит с применением технологии шифрования SSL.
							.tabsFaq__content-wrap
								span.tabsFaq__content-title Какая гарантия, что данные моей карты не будут переданы третьим лицам?
								.tabsFaq__content-text Данные карты вводятся на защищенной платежной странице, передача информации в центр происходит с применением технологии шифрования SSL.
							.tabsFaq__content-wrap
								span.tabsFaq__content-title Какие карты принимаются для оплаты?
								.tabsFaq__content-text Данные карты вводятся на защищенной платежной странице, передача информации в центр происходит с применением технологии шифрования SSL.
							.tabsFaq__content-wrap
								span.tabsFaq__content-title Что будет являться подтверждением покупки на вашем сайте?
								.tabsFaq__content-text Данные карты вводятся на защищенной платежной странице, передача информации в центр происходит с применением технологии шифрования SSL.
						.tabsFaq__content.js-tab-content
							
							h3.tabsFaq__title После покупки тура
							.tabsFaq__content-wrap
								span.tabsFaq__content-title Когда и где получать документы для вылета?
								.tabsFaq__content-text Данные карты вводятся на защищенной платежной странице, передача информации в центр происходит с применением технологии шифрования SSL. Дальнейшая передача информации происходит по закрытым банковским сетям, имеющим наивысший уровень надежности. Таким образом, процессинговый центр не передает данные вашей карты магазину и иным третьим лицам.
							.tabsFaq__content-wrap
								span.tabsFaq__content-title Нужно ли распечатывать документы?
								.tabsFaq__content-text Данные карты вводятся на защищенной платежной странице, передача информации в центр происходит с применением технологии шифрования SSL.
							.tabsFaq__content-wrap
								span.tabsFaq__content-title Как можно уточнить весовую норму багажа на человека при перелете?
								.tabsFaq__content-text Данные карты вводятся на защищенной платежной странице, передача информации в центр происходит с применением технологии шифрования SSL.
							.tabsFaq__content-wrap
								span.tabsFaq__content-title Если летит ребенок заграницу (в любую страну) необходимо разрешение от второго родителя?
								.tabsFaq__content-text Данные карты вводятся на защищенной платежной странице, передача информации в центр происходит с применением технологии шифрования SSL.
							.tabsFaq__content-wrap
								span.tabsFaq__content-title Если я захочу отказаться от тура?
								.tabsFaq__content-text Данные карты вводятся на защищенной платежной странице, передача информации в центр происходит с применением технологии шифрования SSL.
						.tabsFaq__content.js-tab-content
							
							h3.tabsFaq__title Во время отдыха
							.tabsFaq__content-wrap
								span.tabsFaq__content-title Кто будет встречать по прилету на отдых и как найти трансфер?
								.tabsFaq__content-text Данные карты вводятся на защищенной платежной странице, передача информации в центр происходит с применением технологии шифрования SSL. Дальнейшая передача информации происходит по закрытым банковским сетям, имеющим наивысший уровень надежности. Таким образом, процессинговый центр не передает данные вашей карты магазину и иным третьим лицам.
							.tabsFaq__content-wrap
								span.tabsFaq__content-title Время заселения и выезда из отеля.
								.tabsFaq__content-text Данные карты вводятся на защищенной платежной странице, передача информации в центр происходит с применением технологии шифрования SSL.
							.tabsFaq__content-wrap
								span.tabsFaq__content-title Как я узнаю время трансфера и обратного вылета, находясь на отдыхе?
								.tabsFaq__content-text Данные карты вводятся на защищенной платежной странице, передача информации в центр происходит с применением технологии шифрования SSL.
							.tabsFaq__content-wrap
								span.tabsFaq__content-title Как узнать, если время обратного вылета вдруг изменится?
								.tabsFaq__content-text Данные карты вводятся на защищенной платежной странице, передача информации в центр происходит с применением технологии шифрования SSL.
							.tabsFaq__content-wrap
								span.tabsFaq__content-title Куда звонить, если на отдыхе что-то случилось или есть вопросы?
								.tabsFaq__content-text Данные карты вводятся на защищенной платежной странице, передача информации в центр происходит с применением технологии шифрования SSL.
						.tabsFaq__content.js-tab-content
							
							h3.tabsFaq__title Виза
							.tabsFaq__content-wrap
								span.tabsFaq__content-title Входит ли стоимость визы?
								.tabsFaq__content-text Данные карты вводятся на защищенной платежной странице, передача информации в центр происходит с применением технологии шифрования SSL. Дальнейшая передача информации происходит по закрытым банковским сетям, имеющим наивысший уровень надежности. Таким образом, процессинговый центр не передает данные вашей карты магазину и иным третьим лицам.
							.tabsFaq__content-wrap
								span.tabsFaq__content-title Возможно ли оформить через вас визу без покупки тура?
								.tabsFaq__content-text Данные карты вводятся на защищенной платежной странице, передача информации в центр происходит с применением технологии шифрования SSL.
							.tabsFaq__content-wrap
								span.tabsFaq__content-title Хочу оформить визу самостоятельно, когда и какие документы вы предоставите?
								.tabsFaq__content-text Данные карты вводятся на защищенной платежной странице, передача информации в центр происходит с применением технологии шифрования SSL.
							.tabsFaq__content-wrap
								span.tabsFaq__content-title Делаете ли вы визу для иностранных граждан?
								.tabsFaq__content-text Данные карты вводятся на защищенной платежной странице, передача информации в центр происходит с применением технологии шифрования SSL.
							.tabsFaq__content-wrap
								span.tabsFaq__content-title В течение какого времени оформляется виза?
								.tabsFaq__content-text Данные карты вводятся на защищенной платежной странице, передача информации в центр происходит с применением технологии шифрования SSL.		
 








block footer
	include ../blocks/footer/footer
