extends ../layouts/default

block head
	- var pageTitle = '';

block header
	include ../blocks/header/header
	
block content
	main.main
		section.intro-section.intro-section_height
			.container
				.head-wrap.head-wrap_padding
					a(href="#").logo
					.info-wrap
						a(href="tel:67320372").info-link.tel-link 67 320 372
						a(href="mailto:info@sofiture.lv").info-link.mail-link info@sofiture.lv
						a(href="#").buy-link.red-btn Купить тур в офисе
				h2.intro-title Политика конфиденциальности

		section.policy-section
			.container
				span.text-title 1. ТЕРМИНЫ И ОПРЕДЕЛЕНИЯ:

				p.text-padding 1.1 Для целей настоящего Соглашения нижеуказанные термины имеют следующие значения:
				p 1.1.1 Администрация – лица, уполномоченные Правообладателем на осуществление администрирования, управления, обеспечения технической поддержки Платформы 	и иных действий, связанных с её использованием;
				p 1.1.2 Контент – специально подобранные и расположенные определенным образом материалы (текстовые сообщения, элементы дизайна, графические изображения, 	фотографии, аудио- и/или видео-произведения и т.д.), которые отображаются и могут быть использованы с помощью Системы на Сайте или программного обеспечения 	1.1.3Мобильных приложений;
				p 1.1.4 Личный кабинет – графический интерфейс Пользователя на Сайте/в Мобильном приложении, обеспечивающий доступ, в том числе, к содержанию и стоимости 	оформляемых услуг в соответствии с функционалом того или иного Сервиса;
				p 1.1.5 Мобильное приложение– специально разработанное для портативных (мобильных) устройств программное обеспечение travelata.ru, устанавливаемое и 	загружаемое Пользователем на такие устройства с помощью различных программных платформ. Для целей настоящего Соглашения Мобильное приложение включает 	в себя текущую версию и все последующие;
				p 1.1.6 Платформа – означает Сайт и/или Мобильное приложение с использованием программного обеспечения (далее – «ПО»), разрабатываемого в рамках проекта 	«Прогнозирование низких цен и персонализация туристического пакетного продукта на основании алгоритмов машинного обучения» инновационного центра 	«Сколково», принадлежащие и находящиеся под контролем и управлением Правообладателя и/или лиц, входящих с ним в одну группу, в рамках функционирования 	которых предоставляются Сервисы;
				p 1.1.7 Пользователь – пользователь сети Интернет;
				p 1.1.8 Правообладатель – (на основании лицензионного Договора) компания ООО "": 143026, г. Москва, территория инновационного центра Сколково, 	ул. Луговая д. 4, стр. 6, этаж 2, часть пом. 11);
				p 1.1.9 Результаты интеллектуальной деятельности- результаты интеллектуальной деятельности в соответствии со ст.1225 Гражданского кодекса Российской 	Федерации, предусмотренные функциональными возможностями Платформы и Контентом составляющих её объектов;
				p 1.1.10 Соглашение- настоящее соглашение об использовании Платформы;
				p 1.1.11 Сайт – совокупность Системы, Контента и иной информации, содержащейся в информационной системе «Интернет», доступ к которой обеспечивается, в том 	числе, по доменному ;
				p 1.1.12 Сервисы – комплекс услуг по бронированию туристских продуктов, оформлению авиа и/или ж/д билетов, бронированию номеров в отелях и иных 	дополнительных услуг, предоставляемых Пользователю при помощи Платформы;
				p.text-padding 1.2 В Соглашении могут быть использованы термины, не определенные выше. В этом случае толкование такого термина производится в соответствии с действующим законодательством Российской Федерации, а также обычаями делового оборота.

				span.text-title 2. ПОРЯДОК ИСПОЛЬЗОВАНИЯ:

				p.text-first При использовании Платформы, получении доступа в Личный кабинет и последующем использовании Сервисов
				p.text-padding 2.1 Пользователь обязуется:
				p 2.1.1 Соблюдать положения действующего законодательства Российской Федерации, настоящего Соглашения и иных специальных документов;
				p 2.1.2 Предоставлять при регистрации верную, полную и актуальную информацию о себе и о лицах, от имени которых такой Пользователь использует Сервисы, а также 	документы, подтверждающие достоверность такой информации с целью подтверждения правомочности использования банковской карты и в иных случаях. 	
				p 2.1.3 Пользователь принимает на себя все возможные риски, связанные с его действиями по допущению ошибок, неточностей в предоставлении личных данных;
				p 2.1.4 Обновлять регистрационные и другие персональные данные в случае изменения таковых;
				p 2.1.5 Информировать о несанкционированном доступе к Личному кабинету и/или о несанкционированном использовании пароля и логина Пользователя;
				p.text-padding 2.2 Пользователю запрещается:
				p 2.2.6 Выдавать себя за другое физическое или юридическое лицо, в том числе за их представителя. При этом, возможна регистрация от имени и по поручению другого 	лица при условии получения необходимых полномочий в порядке и форме, предусмотренных законодательством Российской Федерации;
				p 2.2.7 Любым способом, в том числе, но не ограничиваясь, путем обмана, злоупотребления доверием, взлома, пытаться получить доступ к логину и паролю другого 	Пользователя;
				p 2.2.8 Осуществлять незаконные сбор и обработку персональных данных других лиц;
				p 2.2.9 Без предварительного письменного согласия Правообладателя осуществлять воспроизведение, копирование, переработку, распространение, модификацию и иное 	использование Контента, Системы, Сайта, Мобильных приложений и иных Результатов интеллектуальной деятельности кроме как в рамках функционала, 	предоставляемого тем или иным Сервисом;
				p 2.2.1 0пытаться получить несанкционированный доступ к другим компьютерным системам посредством использования Платформы;
				p 2.2.11 Использовать программное обеспечение и осуществлять действия, направленные на нарушение нормального функционирования Платформы;
				p 2.2.12 Публиковать, распространять и предоставлять доступ или иным образом использовать вирусы и вредоносные программы.
				p 2.2.13 Загружать, публиковать, передавать, иным образом доводить до всеобщего сведения или иного пользователя любую информацию, которая содержит угрозы, 	дискредитирует или оскорбляет других пользователей или третьих лиц, является заведомо ложной, вульгарной, непристойной, носит мошеннический характер, посягает 	на личные или публичные интересы, пропагандирует расовую, религиозную, этническую ненависть или вражду, любую иную информацию, нарушающую охраняемые 	законом права человека и гражданина, пропагандировать и демонстрировать нацистскую атрибутику (символику) либо иным образом нарушать требования 	международного права, законодательства страны проживания или местонахождения Пользователя.
				p 2.2.14 Размещать на Сайте или иным способом распространять или доводить до всеобщего сведения личные персональные данные, адреса, номера телефонов, адреса 	электронной почты, паспортные данные и прочую личную информацию других пользователей или любых третьих лиц без их личного письменного согласия на такие 	действия. Получать и вымогать конфиденциальную информацию об иных пользователях и (или) третьих лицах.
				p 2.2.15 Пользователь подтверждает и выражает свое согласие с тем, что Платформа или любые Сервисы, предусмотренные её функционалом, в любой момент могут 	быть недоступны по техническим причинам. Правообладатель оставляет за собой право проводить необходимые профилактические или иные работы в любое время 	по своему усмотрению без предварительного уведомления Пользователей.
		
block footer
	include ../blocks/footer/footer
