extends ../layouts/default

block head
	- var pageTitle = '';

block header
	include ../blocks/header/header
	
block content
	main.main
		section.intro-section.intro-section_padding
			.container
				include ../components/head-wrap/head-wrap
				include ../components/main-form/main-form

		section.client-reviews-section
			img(src="images/partner-bg.png", alt="Image description").img-abs
			.container
				h2.section-title Отзывы наших клиентов
					span.abs-text Hаши клиенты
				p.reviews-text SofiTure - это не только отличный сайт для поиска туров, но и также профессиональная команда менеджеров, которая всегда прийдет к вам на помощь и будет с вам и в горе и в радости на протяжении всего вашего отдыха.

				.reviews-wrapper
					.client
						.client__info
							.client__photo
								img(src="images/client1.png", alt="")
							.client__data
								span.client__name Никита Иванов
								span.client__tour Тур по Исландии
								.raiting
									span
									span
									span
									span
									span

						p.client__review Понравилось все! Все забронировал и оплатил, сразу связались со мной письменно с информацией по туру. По моей просьбе документы выслали раньше.
					.client
						.client__info
							.client__photo
								img(src="images/client2.png", alt="")
							.client__data
								span.client__name Алина Латышева
								span.client__tour Тур по Исландии
								.raiting
									span
									span
									span
									span
									span

						p.client__review Понравилась оперативность, вовремя предоставленные документы на тур, информирование о времени вылета по смс. Перед заказом тура получила консультацию.
					.client
						.client__info
							.client__photo
								img(src="images/client3.png", alt="")
							.client__data
								span.client__name Алексей Степанов
								span.client__tour Тур по Исландии
								.raiting
									span
									span
									span
									span
									span

						p.client__review Отличный сайт, все предложения можно выбрать и по дате и по предложениям выбора авиакомпаний. Безопасная оплата через сайт.
					.client
						.client__info
							.client__photo
								img(src="images/client1.png", alt="")
							.client__data
								span.client__name Никита Иванов
								span.client__tour Тур по Исландии
								.raiting
									span
									span
									span
									span
									span

						p.client__review Понравилось все! Все забронировал и оплатил, сразу связались со мной письменно с информацией по туру. По моей просьбе документы выслали раньше.
					.client
						.client__info
							.client__photo
								img(src="images/client2.png", alt="")
							.client__data
								span.client__name Алина Латышева
								span.client__tour Тур по Исландии
								.raiting
									span
									span
									span
									span
									span

						p.client__review Понравилась оперативность, вовремя предоставленные документы на тур, информирование о времени вылета по смс. Перед заказом тура получила консультацию.
					.client
						.client__info
							.client__photo
								img(src="images/client3.png", alt="")
							.client__data
								span.client__name Алексей Степанов
								span.client__tour Тур по Исландии
								.raiting
									span
									span
									span
									span
									span

						p.client__review Отличный сайт, все предложения можно выбрать и по дате и по предложениям выбора авиакомпаний. Безопасная оплата через сайт.
					.client
						.client__info
							.client__photo
								img(src="images/client1.png", alt="")
							.client__data
								span.client__name Никита Иванов
								span.client__tour Тур по Исландии
								.raiting
									span
									span
									span
									span
									span

						p.client__review Понравилось все! Все забронировал и оплатил, сразу связались со мной письменно с информацией по туру. По моей просьбе документы выслали раньше.
					.client
						.client__info
							.client__photo
								img(src="images/client2.png", alt="")
							.client__data
								span.client__name Алина Латышева
								span.client__tour Тур по Исландии
								.raiting
									span
									span
									span
									span
									span

						p.client__review Понравилась оперативность, вовремя предоставленные документы на тур, информирование о времени вылета по смс. Перед заказом тура получила консультацию.
					.client
						.client__info
							.client__photo
								img(src="images/client3.png", alt="")
							.client__data
								span.client__name Алексей Степанов
								span.client__tour Тур по Исландии
								.raiting
									span
									span
									span
									span
									span

						p.client__review Отличный сайт, все предложения можно выбрать и по дате и по предложениям выбора авиакомпаний. Безопасная оплата через сайт.
					.client
						.client__info
							.client__photo
								img(src="images/client1.png", alt="")
							.client__data
								span.client__name Никита Иванов
								span.client__tour Тур по Исландии
								.raiting
									span
									span
									span
									span
									span

						p.client__review Понравилось все! Все забронировал и оплатил, сразу связались со мной письменно с информацией по туру. По моей просьбе документы выслали раньше.
					.client
						.client__info
							.client__photo
								img(src="images/client2.png", alt="")
							.client__data
								span.client__name Алина Латышева
								span.client__tour Тур по Исландии
								.raiting
									span
									span
									span
									span
									span

						p.client__review Понравилась оперативность, вовремя предоставленные документы на тур, информирование о времени вылета по смс. Перед заказом тура получила консультацию.
					.client
						.client__info
							.client__photo
								img(src="images/client3.png", alt="")
							.client__data
								span.client__name Алексей Степанов
								span.client__tour Тур по Исландии
								.raiting
									span
									span
									span
									span
									span

						p.client__review Отличный сайт, все предложения можно выбрать и по дате и по предложениям выбора авиакомпаний. Безопасная оплата через сайт.
		
		include ../blocks/loader/loader
		
block footer
	include ../blocks/footer/footer
