extends ../layouts/default

block head
	- var pageTitle = '';

block header
	include ../blocks/header/header
	
block content
	main.main
		section.intro-section.intro-section_height
			.container
				.head-wrap.head-wrap_padding
					a(href="#").logo
					.info-wrap
						a(href="tel:67320372").info-link.tel-link 67 320 372
						a(href="mailto:info@sofiture.lv").info-link.mail-link info@sofiture.lv
						a(href="#").buy-link.red-btn Купить тур в офисе
				h2.intro-title Правила покупки
		
		section.rules-section
			.container
				span.text-title 1. Выбор тура:
				p Поиск туров осуществляется с помощью поискового модуля, расположенного слева на главной странице сайта. Чтобы найти интересующий Вас тур, укажите один или несколько из следующих параметров поиска: страна назначения, курорт, количество путешественников, тип питания, предпочтительные даты вылета. Вы также можете ограничить поиск, задав необходимый ценовой диапазон.

				p Нажмите кнопку «Искать». Через несколько секунд Вы автоматически перейдете на страницу с турами, удовлетворяющими Вашим критериям поиска.

				p Узнать все детали и условия понравившегося тура можно, нажав на фотографию или название отеля, или кнопку «Все туры».

				p Внимательно выбирайте параметры тура (количество туристов, даты, тип номера и питания).

				p Затем нажмите на кнопку «Купить», и Вы будете перенаправлены на страницу оформления заказа.

				p Если Вы еще не готовы покупать, а нуждаетесь в консультации и хотите, чтобы с Вами связался профессиональный менеджер по туризму, нажмите на кнопку «Оставить заявку».

				p Внимательно заполните данные о туристе и прочитайте 
					a(href="#") условия Договора.

				p Поставьте галочку в поле «Я ознакомлен с договором и принимаю его условия».

				p Точно заполняйте паспортные данные всех путешественников – эта информация будет использована при бронировании.

				p Нажмите кнопку «Оплатить и забронировать» и Вы будете перенаправлены на страницу оплаты.

				span.text-title 2. Оплата:

				p Оплатить тур можно с помощью банковской карты. Оплата по банковским картам на сайте Travelata.ru осуществляется с помощью электронного платежного шлюза. Все операции по вашей карте осуществляются при полном соблюдении требований VISA International, MasterCard, Maestro и других платежных систем с использованием специальных технологий безопасности карточных онлайн-платежей Verified by Visa и MasterCard® SecureCode™. Безопасность платежей обеспечивается использованием SSL протокола для передачи конфиденциальной информации от клиента на сервер для дальнейшей обработки. Дальнейшая передача информации осуществляется по закрытым банковским сетям высшей степени защиты.

				span.text-title 3. Бронирование:

				p После успешного завершения процедуры оплаты заказа на Вашей кредитной карте блокируется сумма, равная стоимости заказанного тура.

				p Бронирование происходит после блокировки суммы на карте и занимает до 72 часов.

				p Вы получите подтверждение бронирования по электронной почте, которую указали на странице оформления заказа.

				span.text-title 4. Документы:
				
				p Договор с приложениями, а также другие документы, необходимые для совершения поездки, Вы получите по электронной почте, которую указали на странице оформления заказа.

				p В отдельных случаях, документы на поездку нужно будет получить у представителя туроператора в аэропорту в день вылета. Об этом мы также сообщим Вам по электронной почте.

				span.text-title 5. Отмена заказа:

				p Сразу после получения Вашего заказа мы начинаем процедуру бронирования тура у соответствующего туроператора (поставщика тура). У каждого туроператора действуют свои правила отмены бронирования тура, которые, как правило, включают штрафные санкции. Бронируя тур через наш сайт, Вы соглашаетесь с порядком отмены бронирования тура, который определяется туроператором.


				
		
block footer
	include ../blocks/footer/footer
