header.header
	.container
		nav.nav
			ul.nav__list
				li.nav__item
					a(href="#").nav__link Горящие туры
				li.nav__item
					a(href="#").nav__link Календарь низких цен
				li.nav__item
					a(href="#").nav__link Поиск туров
				li.nav__item
					a(href="#").nav__link Рейтинг туроператоров
				li.nav__item
					a(href="#").nav__link Блог
				li.nav__item
					a(href="#").nav__link Контакты

		.lk-wrap
			a(href="#").favorites
			.lang 
				span.lang__item.lang__link.lang__current RU
				.lang__wrap
					//- a(href="#").lang__link RU
					a(href="#").lang__link LV
					a(href="#").lang__link EN
			.user Привет, Алекс
				.user__wrap
					ul.user__list
						li.user__item
							a(href="#").user__link.user__link_favorites Фавориты
						li.user__item
							a(href="lk.html").user__link.user__link_settings Настройки
						li.user__item
							a(href="#").user__link.user__link_exit Выйти



	