.header {
	height: 43px;
	background-image: linear-gradient(to bottom, #4ba7f0, #3c8dcd);
	.container {
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.lk-wrap {
		display: flex;
		align-items: center;
	}

	.user {
		position: relative;
		font-size: 14px;
		font-weight: 500;
		line-height: 1;
		color: #ffffff;
		padding-left: 23px;
		white-space: nowrap;
		cursor: pointer;
		&:after {
			content: '';
			position: absolute;
			width: 17px;
			height: 17px;
			top: 50%;
			left: 0;
			transform: translateY(-50%);
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='17' height='18' viewBox='0 0 17 18'%3E%3Cpath fill='%23FFF' fill-rule='evenodd' d='M8.5 1.125c-.454 0-.902.086-1.345.257-.442.172-.84.39-1.195.656a3.82 3.82 0 0 0-.855.863c-.216.31-.324.604-.324.88v2.656c0 .52.13 1.185.39 1.993s.667 1.433 1.22 1.876a1.054 1.054 0 0 1 .398.963c-.032.177-.101.34-.206.49-.106.149-.241.262-.407.34L1.51 14.307a1.163 1.163 0 0 0-.274.157c-.116.083-.175.236-.175.457V16l14.859-.017v-1.029c0-.288-.07-.468-.208-.54a1.735 1.735 0 0 0-.224-.107l-4.632-2.192a1.076 1.076 0 0 1-.54-1.386c.073-.172.18-.313.325-.423.575-.443.982-1.071 1.22-1.885.238-.813.357-1.474.357-1.983V3.78c0-.288-.11-.586-.332-.896a3.911 3.911 0 0 0-.855-.855 4.937 4.937 0 0 0-1.196-.648A3.718 3.718 0 0 0 8.5 1.125zm0-1.063c.587 0 1.165.111 1.735.333.57.22 1.079.509 1.527.863.448.354.814.752 1.096 1.195.282.443.423.886.423 1.328v2.656c0 .321-.033.692-.1 1.113-.066.42-.176.85-.331 1.286-.155.438-.36.858-.615 1.262-.254.404-.564.75-.93 1.038l4.633 2.208.522.29c.35.194.523.446.523.756V16c0 .288-.102.534-.307.739a1.007 1.007 0 0 1-.738.307H1.062c-.298 0-.55-.102-.755-.307A1.007 1.007 0 0 1 0 16v-1.61c0-.288.177-.534.531-.74l.531-.306 4.666-2.208a4.029 4.029 0 0 1-.947-1.08A7.425 7.425 0 0 1 4.16 8.77a6.857 6.857 0 0 1-.34-1.278 6.852 6.852 0 0 1-.1-1.054V3.78c0-.442.138-.885.415-1.328A4.7 4.7 0 0 1 5.22 1.258c.448-.354.96-.642 1.536-.863A4.822 4.822 0 0 1 8.5.062z'/%3E%3C/svg%3E%0A");
			background-repeat: no-repeat;
			background-size: contain;
			background-position: center;
		}

		&__wrap {
			display: none;
			position: absolute;
			left: -21px;
			top: 29px;
			width: 154px;
			border-radius: 0 0 5px 5px;
			box-shadow: 0 2px 4px 0 rgba(180, 180, 180, 0.5);
			background-color: #ffffff;
		}
		&__list {
			display: flex;
			flex-direction: column;
		}
		&__link {
			width: 100%;
			font-size: 12px;
			line-height: 2.5;
			color: #333333;
			padding-left: 49px;
			position: relative;
			position: relative;
			&.active {
				background-color: rgba(66, 152, 220, 0.1);
			}
			&_favorites {
				&:before {
					background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='13' height='13' viewBox='0 0 13 13'%3E%3Cpath fill='%23469EE4' fill-rule='evenodd' d='M3.656 1.26c-.39 0-.745.059-1.066.177a2.574 2.574 0 0 0-.902.584c-.279.288-.495.614-.647.978a2.93 2.93 0 0 0-.228 1.143 2.978 2.978 0 0 0 .876 2.107c.101.102.374.396.818.882l1.435 1.575c.512.562.992 1.096 1.44 1.6.45.503.737.822.864.958a.397.397 0 0 0 .381.082.388.388 0 0 0 .152-.082c.508-.559 1.03-1.126 1.568-1.701.538-.576 1.024-1.1 1.46-1.575.436-.474.796-.863 1.08-1.168.283-.304.433-.461.45-.47.28-.287.495-.613.647-.977a2.93 2.93 0 0 0 .229-1.143 2.978 2.978 0 0 0-.876-2.107 3.028 3.028 0 0 0-.927-.654 2.65 2.65 0 0 0-1.066-.21c-.288 0-.633.12-1.035.356a5.965 5.965 0 0 0-1.212.978l-.572.584-.584-.572c-.584-.575-1.06-.943-1.428-1.104-.368-.16-.654-.241-.857-.241zm0-.813c.5 0 .997.161 1.492.483.495.321.95.685 1.365 1.091.397-.406.848-.77 1.352-1.091.503-.322.996-.483 1.479-.483.5 0 .96.091 1.384.273.423.182.816.46 1.18.832.373.364.652.78.838 1.25.186.47.28.946.28 1.428 0 .483-.094.959-.28 1.429-.186.47-.465.89-.838 1.263a366.77 366.77 0 0 0-2.291 2.47 274.488 274.488 0 0 1-2.254 2.43 1.204 1.204 0 0 1-1.308.267 1.202 1.202 0 0 1-.393-.267l-.654-.717c-.436-.478-.924-1.018-1.466-1.619A371.454 371.454 0 0 0 1.117 6.82 3.72 3.72 0 0 1 .28 5.563 3.814 3.814 0 0 1 0 4.135c0-.486.093-.962.28-1.428a3.72 3.72 0 0 1 .837-1.257A3.225 3.225 0 0 1 2.292.682 3.936 3.936 0 0 1 3.656.447z'/%3E%3C/svg%3E%0A");
				}
			}

			&_settings {
				&:before {
					background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='19' viewBox='0 0 18 19'%3E%3Cpath fill='%23449ADE' fill-rule='evenodd' d='M2.813 6.945c.492.13.896.393 1.212.791.317.399.475.862.475 1.389s-.158.99-.475 1.389c-.316.398-.72.662-1.213.79v6.258a.54.54 0 0 1-.166.396.54.54 0 0 1-.396.167.54.54 0 0 1-.396-.167.54.54 0 0 1-.167-.395v-6.258a2.275 2.275 0 0 1-1.204-.791A2.143 2.143 0 0 1 0 9.125c0-.527.161-.99.483-1.389a2.275 2.275 0 0 1 1.204-.79V.687a.54.54 0 0 1 .167-.396.54.54 0 0 1 .396-.167.54.54 0 0 1 .396.167.54.54 0 0 1 .167.396v6.257zM2.25 10.25c.316 0 .583-.111.8-.334.217-.223.325-.486.325-.791 0-.305-.108-.568-.325-.791A1.073 1.073 0 0 0 2.25 8c-.316 0-.583.111-.8.334a1.096 1.096 0 0 0-.325.791c0 .305.108.568.325.791.217.223.484.334.8.334zm7.313.07c.492.13.896.393 1.212.791.317.399.475.862.475 1.389s-.158.99-.475 1.389c-.316.398-.72.662-1.213.79v2.883a.54.54 0 0 1-.166.396.54.54 0 0 1-.396.167.54.54 0 0 1-.396-.167.54.54 0 0 1-.166-.395V14.68a2.275 2.275 0 0 1-1.205-.791A2.143 2.143 0 0 1 6.75 12.5c0-.527.161-.99.483-1.389a2.275 2.275 0 0 1 1.205-.79V.687a.54.54 0 0 1 .166-.396A.54.54 0 0 1 9 .125a.54.54 0 0 1 .396.167.54.54 0 0 1 .166.396v9.632zM9 13.625c.316 0 .583-.111.8-.334.217-.223.325-.486.325-.791 0-.305-.108-.568-.325-.791a1.073 1.073 0 0 0-.8-.334c-.316 0-.583.111-.8.334a1.096 1.096 0 0 0-.325.791c0 .305.108.568.325.791.217.223.484.334.8.334zM16.313 3.57c.492.13.896.393 1.212.791.317.399.475.862.475 1.389s-.158.99-.475 1.389c-.316.398-.72.662-1.212.79v9.633a.54.54 0 0 1-.167.396.54.54 0 0 1-.396.167.54.54 0 0 1-.396-.167.54.54 0 0 1-.166-.395V7.93a2.275 2.275 0 0 1-1.205-.791A2.143 2.143 0 0 1 13.5 5.75c0-.527.161-.99.483-1.389a2.275 2.275 0 0 1 1.204-.79V.686a.54.54 0 0 1 .167-.395.54.54 0 0 1 .396-.167.54.54 0 0 1 .396.167.54.54 0 0 1 .166.396V3.57zm-.563 3.305c.316 0 .583-.111.8-.334.217-.223.325-.486.325-.791 0-.305-.108-.568-.325-.791a1.073 1.073 0 0 0-.8-.334c-.316 0-.583.111-.8.334a1.096 1.096 0 0 0-.325.791c0 .305.108.568.325.791.217.223.484.334.8.334z'/%3E%3C/svg%3E%0A");
				}
			}
			&_exit {
				&:before {
					background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='13' height='14' viewBox='0 0 13 14'%3E%3Cpath fill='%234398DC' fill-rule='evenodd' d='M6.767 9.204L8.252 7.72H.406a.39.39 0 0 1-.285-.12A.39.39 0 0 1 0 7.311a.401.401 0 0 1 .406-.406h7.82l-1.46-1.472a.368.368 0 0 1-.126-.286c0-.114.042-.21.127-.286a.362.362 0 0 1 .279-.127c.11 0 .207.043.292.127l2.4 2.463-2.4 2.463a.579.579 0 0 1-.14.083.393.393 0 0 1-.431-.083.401.401 0 0 1 0-.584zm5.42-8.392c.229 0 .422.079.578.235.157.157.235.35.235.578V13a.785.785 0 0 1-.235.578.785.785 0 0 1-.578.235H4.875a.791.791 0 0 1-.571-.235.775.775 0 0 1-.242-.578V9.331h.826v3.174c0 .135.046.252.14.349A.456.456 0 0 0 5.37 13h6.322a.476.476 0 0 0 .35-.146.476.476 0 0 0 .146-.35L12.175 2.12a.476.476 0 0 0-.146-.349.476.476 0 0 0-.35-.146H5.37a.456.456 0 0 0-.343.146.487.487 0 0 0-.14.35v3.16h-.824V1.625c0-.229.08-.421.24-.578a.791.791 0 0 1 .572-.234h7.313z'/%3E%3C/svg%3E%0A");
				}
			}

			&:before {
				content: '';
				position: absolute;
				top: 50%;
				left: 17px;
				transform: translateY(-50%);
				width: 18px;
				height: 18px;
				@include bg-img-center;
			}

			&:hover {
				background-color: rgba(66, 152, 220, .1);
			}
		}
	}

	.lang {
		width: 78px;
		padding: 0 20px;
		margin: 0 20px;
		position: relative;
		cursor: pointer;
		&:after,
		&:before {
			content: '';
			position: absolute;
			width: 1px;
			height: 29px;
			background: #fff;
			opacity: .23;
			left: 0;
			top: 50%;
			transform: translateY(-50%); 
		}
		&:after {
			left: auto;
			right: 0;
		}

		&__current {
			text-align: center;
			font-size: 16px;
			font-weight: 500;
			text-transform: uppercase;
			color: #fff;
			position: relative;
			padding-right: 17px;
			cursor: pointer;
			margin-bottom: 0 !important;
			&:after {
				content: '';
				position: absolute;
				border: 6px solid transparent;
				border-top: 6px solid #fff;
				right: 0;
				top: 5px;
			}
		}
		&__wrap {
			display: none;
			background: #3c8dcd;
			position: absolute;
			top: 28px;
			left: 0;
			padding: 10px 37px 5px 20px;
			border-radius: 0 0 5px 5px;

		}
		&__link {
			display: block;
			text-align: center;
			font-size: 16px;
			text-transform: uppercase;
			color: #fff;
			margin-bottom: 5px;
		}
	}
}

.logo {
	width: 144px;
	height: 44px;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='145' height='44' viewBox='0 0 145 44'%3E%3Cpath fill='%23FFF' fill-rule='evenodd' d='M24.633 25.227c-.39-.72-.977-1.368-1.758-1.946a10.222 10.222 0 0 0-2.637-1.394 17.044 17.044 0 0 0-3.058-.785 24.807 24.807 0 0 1-8.836-3.07c-.235-.126-.485-.391-.75-.798-.266-.406-.399-.796-.399-1.172 0-1.375.23-2.753.692-4.136.46-1.383 1.05-2.465 1.77-3.246 1.156-1.297 3.238-2.43 6.245-3.399 3.008-.969 6.395-1.453 10.16-1.453 2.25 0 3.989.172 5.215.516 1.227.344 1.84.875 1.84 1.593 0 1.172-.16 2.079-.48 2.72-.32.64-.664 1.066-1.032 1.277-.367.21-1.011.496-1.933.855-.985.344-1.84.703-2.567 1.078-.726.375-1.347.735-1.863 1.078-.515.344-.836.516-.96.516-.157 0-.235-.063-.235-.188 0-.265.277-.668.832-1.207.555-.539 1.238-1.011 2.05-1.418.86-.453 1.29-.742 1.29-.867 0-.203-.477-.304-1.43-.304-2.89 0-5.562.257-8.016.773-2.453.516-4.386 1.195-5.8 2.04-1.414.843-2.121 1.702-2.121 2.577 0 .547.293.934.878 1.16.586.227 1.88.606 3.88 1.137s3.788 1.14 5.367 1.828c2.265.969 3.945 1.977 5.039 3.024 1.093 1.047 1.64 2.218 1.64 3.515 0 .89-.215 1.785-.644 2.684-.43.898-1.059 1.722-1.887 2.473a10.844 10.844 0 0 1-2.86 1.851c-.921.39-2.081.758-3.48 1.102a37.974 37.974 0 0 1-4.547.808 39.418 39.418 0 0 1-4.675.293c-2.735 0-4.934-.258-6.598-.773C1.3 33.453.469 32.672.469 31.625c0-.469.281-1.2.844-2.191.562-.993 1.226-1.66 1.992-2.004a6.374 6.374 0 0 1 1.945-.457c.625-.04.938.035.938.222 0 .047-.024.094-.07.14a.626.626 0 0 1-.165.118l-.187.094c-.313.125-.567.223-.762.293-.195.07-.352.14-.469.21-.117.071-.176.169-.176.294 0 .328 1.618.492 4.852.492 2.812 0 5.117-.102 6.914-.305 1.797-.203 3.383-.57 4.758-1.101a13.31 13.31 0 0 0 3.75-2.203zm21.82-.657v1.57c-1.031.938-1.86 1.563-2.484 1.876-.625.312-1.524.437-2.696.375-2.03 2.406-3.82 3.609-5.367 3.609-.875 0-1.672-.29-2.39-.867-.72-.578-1.293-1.367-1.723-2.367-.43-1-.645-2.118-.645-3.352 0-1 .332-2.11.997-3.328a14.91 14.91 0 0 1 2.578-3.41c1.054-1.055 2.183-1.906 3.386-2.555 1.204-.648 2.32-.973 3.352-.973.734 0 1.312.114 1.734.34.422.227.633.543.633.95 0 .312-.18.671-.539 1.078.594.125 1 .332 1.219.62.219.29.328.817.328 1.583 0 .75-.176 1.695-.527 2.836a14.158 14.158 0 0 1-1.442 3.21l.422.422h.352c.265 0 .527-.066.785-.199a5.23 5.23 0 0 0 .691-.422c.203-.148.649-.48 1.336-.996zm-4.828-6.164a67.614 67.614 0 0 0-3.328 2.121c-.922.633-1.703 1.274-2.344 1.922-.64.649-1.07 1.301-1.289 1.957-.39 1.75-.586 2.696-.586 2.836 0 1.031.719 1.547 2.156 1.547.672 0 1.797-.578 3.375-1.734-.265-.735-.398-1.438-.398-2.11 0-.984.203-1.988.61-3.011.406-1.024 1.007-2.2 1.804-3.528zm17.836 6.211v1.617c-.938.938-1.648 1.618-2.133 2.04-.484.421-1.148.851-1.992 1.288 0 1.422-.07 2.633-.211 3.633-.14 1-.453 2.051-.938 3.153-.484 1.101-1.234 2.308-2.25 3.62-1 1.298-1.984 2.294-2.953 2.989-.968.695-1.726 1.043-2.273 1.043-.61 0-1.172-.5-1.688-1.5-.515-1-.773-2.242-.773-3.727 0-1.421.242-2.921.727-4.5.484-1.578 1.234-3.617 2.25-6.117-.766-1-1.149-1.992-1.149-2.976 0-.797.203-1.407.61-1.828.406-.422.984-.805 1.734-1.149.547-.86 1.066-1.59 1.558-2.191.493-.602 1.16-1.403 2.004-2.403a96.54 96.54 0 0 1 5.72-11.718c.609-1.063 1.046-1.778 1.312-2.145.265-.367.546-.55.843-.55.266 0 .5.195.703.585.204.39.305.899.305 1.524 0 .765-.082 1.468-.246 2.11-.164.64-.398 1.284-.703 1.933a28.025 28.025 0 0 1-1.266 2.332c-.539.906-.87 1.468-.996 1.687a344.862 344.862 0 0 1-2.648 4.57l-2.332 3.961c-.57.97-.98 1.696-1.23 2.18.843.735 1.511 1.367 2.003 1.899a7.84 7.84 0 0 1 1.278 1.898 7.886 7.886 0 0 0 1.453-.727c.437-.28.953-.668 1.547-1.16.593-.492 1.171-.949 1.734-1.37zm-7.008 6.281l-.047-.492c-.437.047-.789.059-1.054.035a4.516 4.516 0 0 1-.926-.199 6.32 6.32 0 0 1-.82-.305c-.196-.093-.41-.187-.645-.28-1.188 2.906-1.781 5.32-1.781 7.241 0 .954.144 1.766.433 2.438.29.672.63 1.008 1.02 1.008.406 0 .918-.36 1.535-1.078.617-.72 1.152-1.782 1.605-3.188.454-1.406.68-3.133.68-5.18zm16.57-16.757c-.39 0-.761-.149-1.113-.446a1.41 1.41 0 0 1-.527-1.125c0-.687.328-1.453.984-2.297.656-.843 1.336-1.265 2.04-1.265.468 0 .859.144 1.171.433.313.29.469.707.469 1.254 0 .672-.32 1.414-.961 2.227-.64.812-1.328 1.219-2.063 1.219zm1.594 10.476v1.711c-1.515 1.953-2.93 3.426-4.242 4.418-1.313.992-2.43 1.488-3.352 1.488-1.28 0-2.234-.671-2.859-2.015s-.937-2.813-.937-4.407c0-.609.062-1.19.187-1.746.125-.554.273-1.011.445-1.37.172-.36.493-.923.961-1.688 2.22-3.453 4.25-5.18 6.094-5.18.953 0 1.43.367 1.43 1.102 0 .5-.309 1.28-.926 2.343s-1.168 1.82-1.652 2.274c-1.36 1.312-2.246 2.226-2.66 2.742a2.732 2.732 0 0 0-.622 1.758c0 .562.211 1.031.633 1.406.422.375.969.563 1.64.563.735 0 1.544-.27 2.427-.809.882-.539 2.027-1.402 3.433-2.59zm18.563 2.719l.773.586c-.203.437-.398.82-.586 1.148l-.68 1.196c-.265.468-.468.82-.609 1.054-1.172 2.047-2.273 3.07-3.305 3.07-.437 0-.812-.171-1.125-.515-.312-.344-.468-.812-.468-1.406 0-.844.3-2 .902-3.469.602-1.469 1.531-3.277 2.79-5.426 1.257-2.148 2.839-4.582 4.745-7.3a183.513 183.513 0 0 1 6.445-8.602c-1.375-.203-3.007-.305-4.898-.305-2.172 0-4.59.242-7.254.727-2.664.484-4.984 1.043-6.96 1.676-1.977.632-2.966 1.097-2.966 1.394 0 .11.04.184.118.223.078.039.207.07.386.093.18.024.41.051.692.082 1.828.25 2.742.532 2.742.844 0 .157-.399.23-1.195.223-.797-.008-1.758-.012-2.883-.012-.89 0-1.535-.035-1.934-.105-.398-.07-.664-.203-.797-.399-.133-.195-.199-.496-.199-.902 0-.266.078-.844.234-1.734.297-1.657.754-2.985 1.372-3.985.617-1 1.562-1.816 2.835-2.449 1.274-.633 3.028-1.137 5.262-1.512 3.75-.64 6.852-.96 9.305-.96 1.812 0 3.242.074 4.289.222 1.047.148 1.816.363 2.309.644.492.282.804.56.937.833.133.273.309.746.527 1.417l.727 2.157c.047.14.086.254.117.34.031.086.059.175.082.27.024.093.035.179.035.257 0 .61-.136 1.156-.41 1.64-.273.485-.773 1.211-1.5 2.18-.726.969-1.262 1.727-1.605 2.274-4.032 6.547-6.782 11.39-8.25 14.53zm19.78-4.313c-2.265 3-3.987 5.133-5.167 6.399-1.18 1.266-2.145 1.898-2.895 1.898-.593 0-1.14-.246-1.64-.738s-.887-1.156-1.16-1.992a8.58 8.58 0 0 1-.41-2.684c0-.625.058-1.187.175-1.687.117-.5.34-1.051.668-1.653.328-.601.762-1.253 1.301-1.957.54-.703 1.2-1.5 1.98-2.39.47-.547.864-1.008 1.184-1.383.32-.375.633-.629.938-.762.304-.133.8-.199 1.488-.199.5 0 .976.066 1.43.2.453.132.68.269.68.41 0 .28-.231.788-.692 1.523-.461.734-1.203 1.629-2.227 2.683a30.879 30.879 0 0 1-3.55 3.106c-.297.922-.446 1.625-.446 2.11 0 .671.258 1.007.774 1.007.187 0 .5-.16.937-.48.438-.32 1.176-.938 2.215-1.852 1.039-.914 1.973-1.723 2.8-2.426.61-.531 1.317-1.324 2.122-2.379.805-1.054 1.457-1.847 1.957-2.379 1.156-1.218 1.945-2.011 2.367-2.378.422-.368.828-.551 1.219-.551.375 0 .629.117.762.351.132.235.199.711.199 1.43 0 .328-.031.594-.094.797-.063.203-.191.465-.387.785-.195.32-.59.91-1.183 1.77-.594.859-1.297 1.875-2.11 3.046-.437.625-.82 1.309-1.148 2.051-.328.742-.492 1.301-.492 1.676 0 .813.32 1.219.96 1.219.532 0 1.15-.219 1.852-.657.703-.437 1.781-1.226 3.235-2.367v1.57a229.364 229.364 0 0 1-4.055 3.68c-.875.766-1.633 1.344-2.274 1.735-.64.39-1.25.586-1.828.586-1.312 0-1.968-.782-1.968-2.344 0-.594.195-1.395.585-2.402.391-1.008 1.024-2.465 1.899-4.372zm9.4-11.367c-.157.047-.442.094-.856.14-.414.048-.91.095-1.488.142-.579.046-1.211.093-1.899.14a96.863 96.863 0 0 1-6 .21c-.89.001-1.562-.03-2.015-.093-.454-.062-.68-.21-.68-.445 0-.313.422-.914 1.266-1.805.25-.265.605-.496 1.066-.691.46-.195.992-.36 1.594-.492a17.003 17.003 0 0 1 1.933-.305 20.49 20.49 0 0 1 2.086-.105c.11 0 .363.003.762.011.398.008.863.02 1.394.035.532.016 1.082.04 1.653.07.57.032 1.082.071 1.535.118.312-.078.55-.129.715-.152.164-.024.261-.036.293-.036.015 0 .156.016.422.047.265.032.546.078.843.14.297.063.57.13.82.2s.376.137.376.2c-.016.046-.14.195-.375.445a8.18 8.18 0 0 1-.903.808c-.367.29-.773.57-1.218.844a4.732 4.732 0 0 1-1.325.574zm-2.204 14.766v-1.524c.844-1 1.485-1.851 1.922-2.554-.5-.172-.863-.383-1.09-.633-.226-.25-.34-.625-.34-1.125 0-.563.235-1.273.704-2.133a12.241 12.241 0 0 1 1.734-2.414c.687-.75 1.312-1.234 1.875-1.453.219-.11.43-.164.633-.164.312 0 .469.148.469.445 0 .266-.243.805-.727 1.617 3.219-.5 5.25-.75 6.094-.75.328 0 .554.032.68.094.265.14.484.469.656.985.172.515.257 1.03.257 1.546 0 .329-.144.684-.433 1.067-.29.383-.785.941-1.488 1.676-.829.89-1.524 1.859-2.086 2.906-.563 1.047-.844 1.836-.844 2.367 0 .734.453 1.102 1.36 1.102.952 0 2.609-.97 4.968-2.907v1.57c-1.297 1.36-2.367 2.43-3.21 3.212-.845.78-1.626 1.402-2.345 1.863-.718.46-1.36.691-1.922.691-.656 0-1.203-.3-1.64-.902-.438-.602-.656-1.473-.656-2.613 0-.672.171-1.438.515-2.297.344-.86.848-1.793 1.512-2.801a34.439 34.439 0 0 1 2.238-3.012c-.437.094-.93.192-1.476.293-.547.102-1.125.207-1.735.317-.61.109-1.078.195-1.406.257-.969 1.938-2.375 3.696-4.219 5.274zm18-.961v.586c0 .922.227 1.64.68 2.156.453.516 1.047.774 1.781.774.766 0 1.559-.18 2.38-.54a13.02 13.02 0 0 0 2.448-1.43c.813-.593 1.805-1.39 2.977-2.39v1.43c-1.766 2.125-3.422 3.754-4.969 4.887-1.547 1.132-3.117 1.699-4.71 1.699-1.391 0-2.493-.54-3.305-1.617-.813-1.079-1.22-2.555-1.22-4.43 0-1.64.384-3.129 1.15-4.465.765-1.336 2.015-2.746 3.75-4.23 1.187-1.016 2.366-1.782 3.538-2.297 1.172-.516 2.219-.774 3.14-.774.735 0 1.317.168 1.747.504.43.336.644.84.644 1.512 0 .984-.367 1.965-1.101 2.941-.734.977-1.856 1.946-3.363 2.907-1.508.96-3.364 1.886-5.567 2.777zm.235-1.523c1.406-.547 2.609-1.227 3.609-2.04 1-.812 1.738-1.59 2.215-2.332.476-.742.715-1.285.715-1.628 0-.36-.164-.54-.493-.54-.28 0-.738.18-1.37.54-.633.359-1.274.828-1.922 1.406a10.35 10.35 0 0 0-1.747 2.039 6.587 6.587 0 0 0-1.007 2.555z'/%3E%3C/svg%3E%0A");
	@include bg-img-center;
}

.info-link {
	font-size: 16px;
	font-weight: 500;
	line-height: 0.88;
	color: #ffffff;
	padding-left: 34px;
	position: relative;
	&:before {
		content: '';
		position: absolute;
		@include bg-img-center;
		top: 50%;
		left: 0;
		transform: translateY(-50%);
	}
}

.tel-link {
	margin-right: 50px;
	&:before {
		width: 22px;
		height: 24px;
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='23' height='24' viewBox='0 0 23 24'%3E%3Cpath fill='%23FFF' fill-rule='evenodd' d='M5.885 1.269c.419.584.88 1.25 1.381 1.999.502.748 1.045 1.58 1.629 2.493.15.24.213.509.19.808-.022.3-.13.622-.325.966-.075.15-.202.39-.382.719l-.696 1.28c.314.45.715.951 1.201 1.505a38.529 38.529 0 0 0 1.696 1.797 43.546 43.546 0 0 0 1.808 1.718c.547.487 1.037.887 1.471 1.202.51-.3.933-.543 1.27-.73.336-.187.58-.318.73-.393.18-.105.363-.184.55-.236.187-.052.363-.079.528-.079a1.362 1.362 0 0 1 .696.18c.674.404 1.385.857 2.134 1.359.748.502 1.55 1.052 2.403 1.65.15.106.27.24.36.405.09.165.15.345.179.54.015.209-.007.422-.067.64a2.31 2.31 0 0 1-.315.662c-.06.105-.15.232-.27.382-.12.15-.261.322-.426.516a7.89 7.89 0 0 1-.584.663c-.24.247-.524.52-.854.82-.314.3-.602.524-.864.674-.262.15-.49.224-.685.224h-.045c-.779-.03-1.595-.198-2.449-.505-.853-.307-1.752-.745-2.695-1.314-.943-.57-1.932-1.28-2.965-2.134a49.792 49.792 0 0 1-3.234-2.942A44.361 44.361 0 0 1 4.3 12.903a26.72 26.72 0 0 1-2.134-2.965C1.591 8.995 1.153 8.093.854 7.232.554 6.37.389 5.559.359 4.795c0-.21.075-.446.225-.708.15-.262.374-.557.674-.887.3-.33.569-.61.808-.842.24-.232.457-.423.652-.573.18-.135.352-.262.516-.382.165-.12.307-.224.427-.314.165-.12.337-.206.517-.258.18-.053.374-.079.584-.079.24 0 .453.041.64.123.187.083.348.214.483.394zm-1.438.92c-.3.21-.591.438-.876.686a16.16 16.16 0 0 0-.83.774c-.27.27-.484.502-.64.697-.158.194-.26.36-.304.494.03.674.187 1.392.472 2.156.284.764.696 1.576 1.235 2.437.539.861 1.205 1.767 1.999 2.718.794.95 1.714 1.95 2.763 2.998a45.628 45.628 0 0 0 2.998 2.763c.951.794 1.857 1.46 2.718 2 .86.538 1.677.95 2.448 1.234.771.285 1.494.45 2.168.495.104-.045.254-.15.449-.315s.427-.382.696-.651c.27-.27.524-.55.764-.842.24-.292.472-.588.696-.888a.531.531 0 0 0 .09-.168.243.243 0 0 0 0-.146 91 91 0 0 0-2.392-1.64c-.726-.479-1.381-.906-1.965-1.28a.711.711 0 0 0-.203.034 1.568 1.568 0 0 0-.247.1c-.12.076-.344.203-.674.383l-1.28.696-.741.449-.741-.494c-.48-.33-1.007-.753-1.584-1.27a48.36 48.36 0 0 1-1.898-1.807 51.43 51.43 0 0 1-1.774-1.898 16.938 16.938 0 0 1-1.258-1.584l-.539-.696.45-.786a128.875 128.875 0 0 1 1.077-1.954c.045-.09.079-.172.101-.247a.711.711 0 0 0 .034-.202A196.91 196.91 0 0 0 6.166 4.12 103.7 103.7 0 0 0 4.806 2.1h-.044a.61.61 0 0 0-.169.022.518.518 0 0 0-.146.067z'/%3E%3C/svg%3E%0A");
	}
}

.mail-link {
	margin-right: 30px;
	&:before {
		width: 23px;
		height: 16px;
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='23' height='16' viewBox='0 0 23 16'%3E%3Cpath fill='%23FFF' fill-rule='evenodd' d='M22.978 1.648a.2.2 0 0 1 .022.09v11.59c0 .6-.15 1.168-.45 1.707-.299.54-.748.809-1.347.809H2.516c-.6 0-1.168-.27-1.707-.809C.269 14.496 0 13.927 0 13.328V1.738a.2.2 0 0 1 .022-.09.523.523 0 0 1 0-.303.812.812 0 0 1 .158-.28.368.368 0 0 0 .045-.057.17.17 0 0 1 .067-.056c.225-.3.543-.528.955-.685A3.53 3.53 0 0 1 2.516.031h18.687c.48 0 .865.101 1.157.303.292.203.483.506.573.91.03.06.048.124.056.191a.694.694 0 0 1-.011.213zm-20.8-.18c-.12 0-.239.008-.359.023L11.5 9.218l9.703-7.75H2.18zm19.025 12.938c.195 0 .303-.13.326-.393.022-.262.034-.49.034-.685V3.041l-9.591 7.66a.894.894 0 0 1-.225.134.66.66 0 0 1-.247.045.66.66 0 0 1-.247-.045.894.894 0 0 1-.225-.135l-9.59-7.659v10.287c0 .195.13.423.393.685.262.262.49.393.685.393h18.687z'/%3E%3C/svg%3E%0A");
	}
}

.nav {

	&__list {
		display: flex;
		&_column {
			flex-direction: column;
			.nav__item {
				margin: 0;
			}
			.nav__link {
				font-size: 12px;
				font-weight: 500;
				line-height: 2.08;
				color: #ffffff;
			}
		}
	}

	&__title {
		font-size: 20px;
		font-weight: 500;
		color: #bcbcbc;
		margin-bottom: 11px;
		&_margin {
			margin-bottom: 9px !important;
		}
	}

	&__item {
		margin-right: 30px;
	}

	&__link {
		position: relative;
		font-size: 14px;
		font-weight: 500;
		color: #ffffff;
		&.active {
			&:before {
				transform-origin: bottom left;
				transform: scaleX(1);
			}
		}
		&:before {
			content: '';
			position: absolute;
			bottom: -3px;
			left: 0;
			right: 0;
			height: 2px;
			background-color: #fff;
			transform-origin: bottom right;
			transform: scaleX(0);
			transition: -webkit-transform .5s ease;
			transition: transform .5s ease;
			transition: transform .5s ease,-webkit-transform .5s ease;
		}

		&:hover {
			&:before {
				transform-origin: bottom left;
				transform: scaleX(1);
			}
		}
	}
}










