.head-wrap
	a(href="#").logo
	.info-wrap
		a(href="tel:67320372").info-link.tel-link 67 320 372
		a(href="mailto:info@sofiture.lv").info-link.mail-link info@sofiture.lv
		a(href="#").buy-link.red-btn Купить тур в офисе