.blog-intro-section {
	padding: 34px 0 150px;
	background-position: center 100%;
	background-size: cover;
	background-position: center;

	.blog-info {
		max-width: 608px;
		width: 100%;
		font-size: 20px;
		line-height: 1.6;
		color: #ffffff;
		margin-bottom: 56px;
	}

	.blog-nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
}

.links-section {
	padding: 35px 0 65px;
	.nav-blog {
		&__list {
			display: flex;
			justify-content: center;
			align-items: center;
		}

		&__item {
			margin: 0 30px;
		}

		&__link {
			font-size: 14px;
			font-weight: 500;
			line-height: 1;
			text-align: center;
			color: #333333;
			text-transform: uppercase;
			position: relative;
			&.active {
				&:before {
					transform-origin: bottom left;
					transform: scaleX(1);
				}
			}
			&:before {
				content: '';
				position: absolute;
				bottom: -3px;
				left: 0;
				right: 0;
				height: 2px;
				background-color: #333333;
				transform-origin: bottom right;
				transform: scaleX(0);
				transition: -webkit-transform .5s ease;
				transition: transform .5s ease;
				transition: transform .5s ease,-webkit-transform .5s ease;
			}

			&:hover {
				&:before {
					transform-origin: bottom left;
					transform: scaleX(1);
				}
			}
		}
	}
}

.popular-articles-section {
	padding: 59px 0 224px;
	background-position: center 100%;
	background-size: cover;
	background-position: center;

	.article-title {
		font-size: 30px;
		line-height: 1.47;
		text-align: center;
		color: #333333;
		font-weight: 400;
		margin-bottom: 86px;
	}

	.articles-wrap {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		margin: 0 -18px;
	}
}

.articles-section {
	padding: 69px 0 109px;

	.section-title {
		margin-bottom: 72px;
	}

	.articles-content {
		display: flex;
		align-items: flex-start;
		&_margin {
			margin-bottom: 88px;
		}
	}

	.articles-wrap {
		width: 759px;
		display: flex;
		flex-direction: column;
		margin-right: 30px;
	}

	.article-text {
		font-size: 14px;
		line-height: 1.86;
		color: #333333;
		margin-bottom: 32px;
	}

	.article-img {
		width: 759px;
		height: 488px;
		margin-bottom: 35px;
		overflow: hidden;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	.find-tours {
		width: 368px;
		border-radius: 5px;
		background-color: #4094d6;
		padding: 28px 30px 20px;
		margin-bottom: 30px;
		box-shadow: 0 0 20px 0 rgba(197, 197, 197, 0.5);
	}
}

.find-wrap {
	width: 100%;
	margin-bottom: 30px;
	background-color: #ecf5fb;
	box-shadow: 0 2px 6px 0 rgba(204, 204, 204, 0.5);
	padding: 30px 20px;

	.text-center {
		margin-bottom: 20px;
	}

	p {
		font-size: 14px;
		line-height: 1.43;
		color: #333333;
		margin-bottom: 10px;
	}
}