.change-personal-data {
	margin-top: 100px;
	.personal-area-wrap {
		display: flex;
		justify-content: space-between;
	}

	.setting-menu {
		width: 388px;
		background-color: #ecf5fb;
		display: flex;
		flex-direction: column;
		padding: 27px 33px 0 24px;
	}

	.favorites {
		font-size: 20px;
		line-height: 2.1;
		color: #333333;
		margin-bottom: 22px;
	}

	.setting {
		font-size: 20px;
		font-weight: 500;
		line-height: 2.1;
		color: #333333;
	}

	.mycontact-data {
		width: 757px;
		display: flex;
		flex-direction: column;
	}

	.data-menu {
		box-shadow: 0 0 20px 0 rgba(197, 197, 197, 0.5);
		background-color: #fff;
	}

	.contact-data {
		padding: 12px 25px 52px 26px;
		margin-bottom: 20px;
	}

	.change-option {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.preview {
		margin-bottom: 22px;
	}

	.preview-text {
		font-size: 20px;
		font-weight: normal;
		line-height: 2.1;
		color: #333333;
		margin-bottom: 10px;
	}

	.change-data {
		display: flex;
		justify-content: space-between;
	}

	.save-cancel {
		display: flex;
		justify-content: flex-end;
		margin-top: 36px;
	}

	.cancel {
		font-size: 16px;
		color: #469ee3;
	}

	.paragraph {
		display: flex;
		flex-direction: column;
	}

	.value {
		font-size: 16px;
		color: #8d8d8d;
		margin-bottom: 19px;
	}

	.total {
		font-size: 16px;
		color: #333333;
	}

	.setting-email {
		padding: 26px 421px 37px 26px;
		margin-bottom: 20px;
	}

	.password {
		padding: 12px 21px 12px 26px;
	}
	.data-input {
		border: 1px solid #d8d8d8;
		border-radius: 5px;
		width: 128px;
		height: 44px;
	}
	.save-cancel {

	}
	.change-data-pass {
		display: flex;
		justify-content: flex-start;
	}
	.paragraph-pass {
		margin-right: 50px;
	}
}