.carousel-partner {
    position: relative;

    .slide-holder {
        height: 54px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .owl-prev,
    .owl-next {
        color: transparent;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);

        span {
            display: none;
        }

        &:after {
            content: '';
            position: absolute;
            width: 11px;
            height: 20px;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='21' viewBox='0 0 12 21'%3E%3Cpath fill='%23000' fill-rule='evenodd' d='M10.688.25a.654.654 0 0 1 .468.195c.13.13.196.29.196.479a.65.65 0 0 1-.196.478L2.25 10.31l8.79 8.789a.64.64 0 0 1 .194.468.64.64 0 0 1-.195.47.65.65 0 0 1-.478.194.65.65 0 0 1-.479-.195L.824 10.777a.64.64 0 0 1-.195-.468.64.64 0 0 1 .195-.47L10.22.446a.68.68 0 0 1 .469-.195z'/%3E%3C/svg%3E%0A");
        }
    }

    .owl-prev {
        top: 40%;
        left: 0;
    }

    .owl-next {
        top: 78%;
        right: 0;
        transform: rotate(180deg);
    }
}

.owl-carousel.carousel-clients {
    position: relative;
    max-width: 1200px;
    width: 100%;
    margin: 0 -40px 0 auto;

    .owl-stage {
        padding: 25px 0;
    }

    .owl-nav {
        display: block;
    }

    .owl-next {
        display: none;
    }

    .owl-prev {
        color: transparent;
        position: absolute;
        top: 46%;
        transform: translateY(-50%);
        left: -95px;
        width: 14px;
        height: 25px;

        span {
            display: none;
        }

        &:after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 14px;
            height: 25px;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15' height='27' viewBox='0 0 15 27'%3E%3Cpath fill='%23FFF' fill-rule='evenodd' stroke='%23FFF' d='M13.195 1a.77.77 0 0 1 .568.244.828.828 0 0 1 .237.6.828.828 0 0 1-.237.598L2.965 13.586l10.656 10.997a.813.813 0 0 1 .237.586.813.813 0 0 1-.237.587.777.777 0 0 1-.58.244.777.777 0 0 1-.58-.244L1.237 14.172A.813.813 0 0 1 1 13.586c0-.229.079-.424.237-.587l11.39-11.755A.801.801 0 0 1 13.195 1z'/%3E%3C/svg%3E%0A");
        }
    }
    
    .owl-item {
        // width: 368px !important;
        // margin-right: 30px !important;
    }
}

.pay-slider {
    width: 458px;
    position: absolute;
    right: 95px;
    bottom: -60px;

    .firstActiveItem {
        .item {
            margin: 0 !important;
        }
        z-index: 2 !important;
    }

    .owl-item.active {
        .item {
            margin: 40px 0 0 -20px;
        }
        z-index: 1;
    }

    .item {
        position: relative;
        width: 256px;
        height: 302px;
        overflow: hidden;


        &:after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, .67));
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        p {
            position: absolute;
            left: 22px;
            bottom: 25px;
            font-size: 16px;
            font-weight: 700;
            line-height: 1.63;
            color: #ffffff;
            z-index: 1;
        }
    }

    .owl-prev,
    .owl-next {
        position: absolute;
        width: 27px;
        height: 28px;
        top: 35%;
        background-size: 100%;
        background-position: center;
        background-repeat: no-repeat;
    }

    .owl-prev {
        left: -55px;
        background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='27px' height='28px' viewBox='0 0 27 28' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3C!-- Generator: sketchtool 51.3 (57544) - http://www.bohemiancoding.com/sketch --%3E%3Ctitle%3ED212FDE3-A023-40B1-B84E-6393F76AADCD%3C/title%3E%3Cdesc%3ECreated with sketchtool.%3C/desc%3E%3Cdefs%3E%3C/defs%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='02-SofiTure-Opisanie-tura' transform='translate(-675.000000, -2366.000000)' fill='%23FFFFFF'%3E%3Cpath d='M688.5,2366.6875 C690.363291,2366.6875 692.116691,2367.03906 693.760254,2367.74219 C695.403817,2368.44532 696.83642,2369.40771 698.058105,2370.62939 C699.279791,2371.85108 700.242184,2373.28368 700.945312,2374.92725 C701.648441,2376.57081 702,2378.32421 702,2380.1875 C702,2382.05079 701.648441,2383.80419 700.945312,2385.44775 C700.242184,2387.09132 699.279791,2388.52392 698.058105,2389.74561 C696.83642,2390.96729 695.403817,2391.92968 693.760254,2392.63281 C692.116691,2393.33594 690.363291,2393.6875 688.5,2393.6875 C686.636709,2393.6875 684.883309,2393.33594 683.239746,2392.63281 C681.596183,2391.92968 680.16358,2390.96729 678.941895,2389.74561 C677.720209,2388.52392 676.757816,2387.09132 676.054688,2385.44775 C675.351559,2383.80419 675,2382.05079 675,2380.1875 C675,2378.32421 675.351559,2376.57081 676.054688,2374.92725 C676.757816,2373.28368 677.720209,2371.85108 678.941895,2370.62939 C680.16358,2369.40771 681.596183,2368.44532 683.239746,2367.74219 C684.883309,2367.03906 686.636709,2366.6875 688.5,2366.6875 Z M688.5,2392.02637 C690.134774,2392.02637 691.66845,2391.71436 693.101074,2391.09033 C694.533699,2390.46631 695.781733,2389.61817 696.845215,2388.5459 C697.908697,2387.47363 698.752438,2386.2212 699.376465,2384.78857 C700.000491,2383.35595 700.3125,2381.82227 700.3125,2380.1875 C700.3125,2378.55273 700.000491,2377.01905 699.376465,2375.58643 C698.752438,2374.1538 697.908697,2372.90577 696.845215,2371.84229 C695.781733,2370.7788 694.533699,2369.93506 693.101074,2369.31104 C691.66845,2368.68701 690.134774,2368.375 688.5,2368.375 C686.865226,2368.375 685.33155,2368.68701 683.898926,2369.31104 C682.466301,2369.93506 681.218267,2370.7788 680.154785,2371.84229 C679.091303,2372.90577 678.247562,2374.1538 677.623535,2375.58643 C676.999509,2377.01905 676.6875,2378.55273 676.6875,2380.1875 C676.6875,2381.82227 676.999509,2383.35595 677.623535,2384.78857 C678.247562,2386.2212 679.091303,2387.47363 680.154785,2388.5459 C681.218267,2389.61817 682.466301,2390.46631 683.898926,2391.09033 C685.33155,2391.71436 686.865226,2392.02637 688.5,2392.02637 Z M694.40625,2379.34375 C694.652345,2379.34375 694.854491,2379.42285 695.012695,2379.58105 C695.170899,2379.73926 695.25,2379.94141 695.25,2380.1875 C695.25,2380.41602 695.170899,2380.61377 695.012695,2380.78076 C694.854491,2380.94775 694.652345,2381.03125 694.40625,2381.03125 L684.861328,2381.03125 L687.972656,2384.11621 C688.13086,2384.29199 688.209961,2384.49414 688.209961,2384.72266 C688.209961,2384.95117 688.13086,2385.15332 687.972656,2385.3291 C687.884765,2385.39941 687.788086,2385.45654 687.682617,2385.50049 C687.577148,2385.54443 687.47168,2385.56641 687.366211,2385.56641 C687.260742,2385.56641 687.155274,2385.54443 687.049805,2385.50049 C686.944335,2385.45654 686.847657,2385.39941 686.759766,2385.3291 L681.776367,2380.21387 L686.759766,2375.09863 C686.935548,2374.92285 687.137694,2374.83496 687.366211,2374.83496 C687.594728,2374.83496 687.796874,2374.92285 687.972656,2375.09863 C688.13086,2375.25684 688.209961,2375.45459 688.209961,2375.69189 C688.209961,2375.9292 688.13086,2376.12695 687.972656,2376.28516 L684.914062,2379.34375 L694.40625,2379.34375 Z' id='Arrow-left-circle---simple-line-icons'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E") !important;
    }

    .owl-next {
        right: -55px;
        background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='27px' height='28px' viewBox='0 0 27 28' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3C!-- Generator: sketchtool 51.3 (57544) - http://www.bohemiancoding.com/sketch --%3E%3Ctitle%3E5C8147FB-F44F-411A-A556-2D98215F42EF%3C/title%3E%3Cdesc%3ECreated with sketchtool.%3C/desc%3E%3Cdefs%3E%3C/defs%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='02-SofiTure-Opisanie-tura' transform='translate(-1226.000000, -2366.000000)' fill='%23FFFFFF'%3E%3Cpath d='M1239.5,2366.6875 C1241.36329,2366.6875 1243.11669,2367.03906 1244.76025,2367.74219 C1246.40382,2368.44532 1247.83642,2369.40771 1249.05811,2370.62939 C1250.27979,2371.85108 1251.24218,2373.28368 1251.94531,2374.92725 C1252.64844,2376.57081 1253,2378.32421 1253,2380.1875 C1253,2382.05079 1252.64844,2383.80419 1251.94531,2385.44775 C1251.24218,2387.09132 1250.27979,2388.52392 1249.05811,2389.74561 C1247.83642,2390.96729 1246.40382,2391.92968 1244.76025,2392.63281 C1243.11669,2393.33594 1241.36329,2393.6875 1239.5,2393.6875 C1237.63671,2393.6875 1235.88331,2393.33594 1234.23975,2392.63281 C1232.59618,2391.92968 1231.16358,2390.96729 1229.94189,2389.74561 C1228.72021,2388.52392 1227.75782,2387.09132 1227.05469,2385.44775 C1226.35156,2383.80419 1226,2382.05079 1226,2380.1875 C1226,2378.32421 1226.35156,2376.57081 1227.05469,2374.92725 C1227.75782,2373.28368 1228.72021,2371.85108 1229.94189,2370.62939 C1231.16358,2369.40771 1232.59618,2368.44532 1234.23975,2367.74219 C1235.88331,2367.03906 1237.63671,2366.6875 1239.5,2366.6875 Z M1239.5,2392.02637 C1241.13477,2392.02637 1242.66845,2391.71436 1244.10107,2391.09033 C1245.5337,2390.46631 1246.78173,2389.61817 1247.84521,2388.5459 C1248.9087,2387.47363 1249.75244,2386.2212 1250.37646,2384.78857 C1251.00049,2383.35595 1251.3125,2381.82227 1251.3125,2380.1875 C1251.3125,2378.55273 1251.00049,2377.01905 1250.37646,2375.58643 C1249.75244,2374.1538 1248.9087,2372.90577 1247.84521,2371.84229 C1246.78173,2370.7788 1245.5337,2369.93506 1244.10107,2369.31104 C1242.66845,2368.68701 1241.13477,2368.375 1239.5,2368.375 C1237.86523,2368.375 1236.33155,2368.68701 1234.89893,2369.31104 C1233.4663,2369.93506 1232.21827,2370.7788 1231.15479,2371.84229 C1230.0913,2372.90577 1229.24756,2374.1538 1228.62354,2375.58643 C1227.99951,2377.01905 1227.6875,2378.55273 1227.6875,2380.1875 C1227.6875,2381.82227 1227.99951,2383.35595 1228.62354,2384.78857 C1229.24756,2386.2212 1230.0913,2387.47363 1231.15479,2388.5459 C1232.21827,2389.61817 1233.4663,2390.46631 1234.89893,2391.09033 C1236.33155,2391.71436 1237.86523,2392.02637 1239.5,2392.02637 Z M1240.02734,2375.09863 C1240.20313,2374.92285 1240.40527,2374.83496 1240.63379,2374.83496 C1240.86231,2374.83496 1241.06445,2374.92285 1241.24023,2375.09863 L1246.22363,2380.21387 L1241.24023,2385.3291 C1241.15234,2385.39941 1241.05566,2385.45654 1240.9502,2385.50049 C1240.84473,2385.54443 1240.73926,2385.56641 1240.63379,2385.56641 C1240.52832,2385.56641 1240.42285,2385.54443 1240.31738,2385.50049 C1240.21191,2385.45654 1240.11523,2385.39941 1240.02734,2385.3291 C1239.86914,2385.15332 1239.79004,2384.95117 1239.79004,2384.72266 C1239.79004,2384.49414 1239.86914,2384.29199 1240.02734,2384.11621 L1243.13867,2381.03125 L1233.59375,2381.03125 C1233.34766,2381.03125 1233.14551,2380.94775 1232.9873,2380.78076 C1232.8291,2380.61377 1232.75,2380.41602 1232.75,2380.1875 C1232.75,2379.94141 1232.8291,2379.73926 1232.9873,2379.58105 C1233.14551,2379.42285 1233.34766,2379.34375 1233.59375,2379.34375 L1243.08594,2379.34375 L1240.02734,2376.28516 C1239.86914,2376.12695 1239.79004,2375.9292 1239.79004,2375.69189 C1239.79004,2375.45459 1239.86914,2375.25684 1240.02734,2375.09863 Z' id='Arrow-right-circle---simple-line-icons'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E") !important;
    }
}

.description-slider {
    position: relative;

    .owl-prev,
    .owl-next {
        position: absolute;
        width: 29px;
        height: 29px;
        top: 48%;
        background-size: 100%;
        background-position: center;
        background-repeat: no-repeat;
    }

    .owl-prev {
        left: 20px;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='29' height='29' viewBox='0 0 29 29'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Ccircle cx='14.5' cy='14.5' r='14.5' fill='%23101010' opacity='.5'/%3E%3Cpath fill='%23FFF' stroke='%23FFF' stroke-width='.5' d='M17.566 8a.428.428 0 0 1 .434.438.423.423 0 0 1-.128.312l-5.814 5.794 5.738 5.719a.415.415 0 0 1 .127.305c0 .119-.042.22-.127.305a.426.426 0 0 1-.312.127.426.426 0 0 1-.313-.127l-6.043-6.024a.415.415 0 0 1-.128-.305c0-.118.043-.22.128-.305l6.132-6.112A.445.445 0 0 1 17.566 8z'/%3E%3C/g%3E%3C/svg%3E%0A") !important;
    }

    .owl-next {
        right: 20px;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='29' height='29' viewBox='0 0 29 29'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Ccircle cx='14.5' cy='14.5' r='14.5' fill='%23101010' opacity='.5'/%3E%3Cpath fill='%23FFF' stroke='%23FFF' stroke-width='.5' d='M12.434 21a.428.428 0 0 1-.434-.438c0-.123.043-.227.128-.312l5.814-5.794-5.738-5.719a.415.415 0 0 1-.127-.305c0-.119.042-.22.127-.305A.426.426 0 0 1 12.516 8c.124 0 .228.042.313.127l6.043 6.024a.415.415 0 0 1 .128.305c0 .118-.043.22-.128.305l-6.132 6.112a.445.445 0 0 1-.306.127z'/%3E%3C/g%3E%3C/svg%3E%0A") !important;
    }
}

.card-slider {
    position: relative;
    margin-bottom: 42px;

    .owl-item:nth-child(2n) {
        .tabsTours__item {
            background-color: rgba(64, 148, 214, 0.1);
        }  
    }

    .owl-nav {
        display: block !important;
    }

    .owl-prev,
    .owl-next {
        position: absolute;
        width: 11px;
        height: 20px;
        top: 40%;
        background-size: 100%;
        background-position: center;
        background-repeat: no-repeat;
    }

    .owl-prev {
        left: -40px;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='21' viewBox='0 0 12 21'%3E%3Cpath fill='%23000' fill-rule='evenodd' d='M10.688.25a.654.654 0 0 1 .468.195c.13.13.196.29.196.479a.65.65 0 0 1-.196.478L2.25 10.31l8.79 8.789a.64.64 0 0 1 .194.468.64.64 0 0 1-.195.47.65.65 0 0 1-.478.194.65.65 0 0 1-.479-.195L.824 10.777a.64.64 0 0 1-.195-.468.64.64 0 0 1 .195-.47L10.22.446a.68.68 0 0 1 .469-.195z'/%3E%3C/svg%3E%0A") !important;
    }

    .owl-next {
        right: -40px;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='21' viewBox='0 0 12 21'%3E%3Cpath fill='%23000' fill-rule='evenodd' d='M1.313 20.23a.728.728 0 0 1-.264-.048.639.639 0 0 1-.225-.147.64.64 0 0 1-.195-.469.64.64 0 0 1 .195-.468l8.926-8.926-8.79-8.77A.65.65 0 0 1 .767.924.65.65 0 0 1 .96.445.65.65 0 0 1 1.439.25a.65.65 0 0 1 .479.195l9.238 9.258a.64.64 0 0 1 .196.469.64.64 0 0 1-.196.469l-9.375 9.394a.68.68 0 0 1-.469.195z'/%3E%3C/svg%3E%0A") !important;
    }
}


// .owl-nav {
//     position: absolute;
//     display: none;
//     width: 100%;
//     @media screen and (min-width: 768px) {
//         display: block;
//     }
//     .owl-next,
//     .owl-prev  {
//         position: absolute;
//         z-index: 1;
//         transition: all .3s ease;
//         width: 38px;
//         height: 38px;
//         background-color: rgba(0, 0, 0, .5) !important;
//         &:after {
//             content: '';
//             position: absolute;
//             top: 9px;
//             left: 14px;
//             background-image: url("data:image/svg+xml,%3Csvg width='14' height='23' viewBox='0 0 14 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.47998 11.5L1.21029 19.7695C1.07011 19.9098 0.999943 20.0712 0.999943 20.2535C0.999943 20.4358 1.07003 20.5973 1.21029 20.7372L2.26251 21.7894C2.40284 21.9296 2.56417 22 2.74607 22C2.92848 22 3.08981 21.9296 3.23006 21.7894L13.0359 11.9841C13.1762 11.8438 13.2461 11.6824 13.2461 11.5001C13.2461 11.3177 13.1762 11.1563 13.0359 11.0161L3.23058 1.21071C3.0901 1.07023 2.92862 1.00014 2.74629 1.00014C2.56417 1.00014 2.40284 1.07023 2.26259 1.21071L1.21036 2.2622C1.07018 2.40245 1.00024 2.56393 1.00024 2.74641C1.00024 2.9286 1.07011 3.08993 1.21036 3.23018L9.47998 11.5Z' fill='%23EDEDED' stroke='black'/%3E%3C/svg%3E%0A");
//             @include bg-img-center;
//             width: 13px;
//             height: 22px;
//         }
//     }

//     .owl-next {
//         right: 0;
//     }

//     .owl-prev {
//         left: 0;
//         &:after {
//             transform: rotate(180deg);
//         }
//     }

//     span[aria-label="Next"], span[aria-label="Previous"] {
//         color: transparent;
//     }
// }
