section.pay-tour-section
	.container
		.pay-tour-wrap(style='background-image: url(images/pay-tour.jpg);')
			.pay-tour-info
				h4.pay-tour-title Оплачивайте 50% сейчас, остальное потом!
				p.pay-tour-text Бронируйте тур заранее — платите только 10% стоимости. Услуга предоставляется бесплатно.
				a(href="#").pay-tour-link.blue-btn УЗНАТЬ ПОДРОБНЕЕ

			.owl-carousel.pay-slider
				.item
					img(src="images/palm.jpg", alt="")
					p Бронируйте тур заранее — Отдых в Греции
				.item
					img(src="images/sea-img.png", alt="")
					p Бронируйте тур заранее — Отдых в Египте
				.item
					img(src="images/palm.jpg", alt="")
					p Бронируйте тур заранее — Отдых в Греции